<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?5b293574b1e9d5623e87212f6c01a798";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    {% block head %}{% endblock %}
</head>
<body>
<div id="main">
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'blog/sidebar.html' %}
</div>

</body>
</html>