{% extends 'base/front_base.html' %}
{% load blog_tags %}

{% block title %}
    Python Lover
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/blog/index.min.css' %}">
    <script src="{% static 'js/index.min.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-ul">
                        {% for banner in banners %}
                            <li>
                                <a href="{{ banner.link_to }}">
                                    <img src="{{ banner.image_url }}" alt="">
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>
                    <div class="page-control-group">
                        <ul class="page-control">
                        </ul>
                    </div>
                </div>
                <div class="list-outer-group">
                    <ul class="list-tab">
                        <li data-category="0" class="active"><a href="javascript:void(0);">最新博文</a></li>
                    </ul>
                    <ul class="list-inner-group">
                        {% for post in posts %}
                            <li>
                                <div class="thumbnail-group">
                                    <a href="{{ post.get_absolute_url }}">
                                        <img src="{{ post.thumbnail }}" alt="">
                                    </a>
                                </div>
                                <div class="news-group">
                                    <p class="title">
                                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                    </p>
                                    <p class="desc">
                                        {{ post.desc }}
                                    </p>
                                    <p class="more">
                                        {% for tag in post.tags.all %}
                                            <a href="{% url 'blog:post_list_by_tag' tag.slug %}"><span
                                                    class="category">{{ tag.name }}</span></a>
                                            {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                        <span class="pub-time">{{ post.created|time_since }}</span>
                                        <span class="author">{{ post.author.username }}</span>
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="load-more-group">
                        <a href="{% url 'blog:post_list' %}">
                            <button class="load-more">查看更多</button>
                        </a>
                    </div>
                </div>
            </div>
            {% include 'common/sidebar.html' %}
        </div>
    </div>
{% endblock %}